@page "/ChangeTracker"
@using JS.Abp.ChangeTracker.Blazor.Components
@using Microsoft.Extensions.Localization
@using global::JS.Abp.ChangeTracker.Localization
@inject IStringLocalizer<ChangeTrackerResource> L
@{
}
<h1>ChangeTracker</h1>
<p>@L["SamplePageMessage"]</p>

<HistoryLog SystemId="Guid.Empty"></HistoryLog>