@page
@using Microsoft.Extensions.Localization
@using JS.Abp.ChangeTracker.Localization
@using JS.Abp.ChangeTracker.Web.Pages.ChangeTracker
@model JS.Abp.ChangeTracker.Web.Pages.ChangeTracker.IndexModel
@inject IStringLocalizer<ChangeTrackerResource> L

@{
}
<h1>ChangeTracker</h1>
<p>@L["SamplePageMessage"]</p>
