@page
@using Microsoft.AspNetCore.Mvc.Localization
@using JS.Abp.ChangeTracker.Localization
@using JS.Abp.ChangeTracker.Web.Pages.ChangeTracker.ChangeLogs
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using JS.Abp.ChangeTracker.ChangeLogs;
@using System.Globalization
@inject IHtmlLocalizer<ChangeTrackerResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/ChangeTracker/ChangeLogs/EditModal" autocomplete="off">
    <abp-modal id="ChangeLogEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="ChangeLog.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="ChangeLog.UserId"  />

            <abp-input asp-for="ChangeLog.UserName"  />

            <abp-input asp-for="ChangeLog.Description"  />

            <abp-select asp-for="ChangeLog.ChangeType"  />

            <abp-input asp-for="ChangeLog.SystemId"  />

            <abp-input asp-for="ChangeLog.SystemName"  />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>